body {
    background-color: lightgray;
    min-width: 500px;
    max-width: 2000px;
    display: grid;
    justify-content: center;
}

form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100px auto;
}