<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<h1>Albums</h1>

<h2>Add and Album here</h2>
<a href="/addAlbum">Add an Album</a>
<ul>
    <li th:each="album : ${albums}">
        <h3 th:text="${album.title}">title</h3>
        <p th:text="${album.artist}">artist</p>
        <p th:text="${album.songCount}">songCount</p>
        <p th:text="${album.length}">length</p>
        <img th:src="${album.imgUrl}" src="${album.imgUrl}">
    </li>
</ul>
</body>
</html>